@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Bold.ttf);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Italic.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Regular.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-Medium.ttf);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}