@mixin centeredByFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centeredByPosition {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin getPositionTopRight($top, $right) {
  top: $top + px;
  right: $right + px;
}

@mixin getSize($width, $height) {
  width: $width + px;
  height: $height + px;
}

@mixin transition($property...) {
	transition-property: $property;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}