/*Main color*/
:root {
  --white-color: #ffffff;
  --black-color: #111111;
  --accent-yellow-color: #eac645;
  --accent-violet-color: #4f2ee8;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Light theme*/
[page-theme='light'] {
  --background-color: #f6f6f6;
  --alt-text-color: #5c5656;
  --header-background-color: #ffffff;
  --header-outline-color: #111111;
  --logo-text-color: #000000;
  --nav-text-color: #111111;
  --nav-hover-color: #111111;
  --nav-icon-color: #111111;
  /*Switch btn features*/
  --sw-button-color: linear-gradient(
    180deg,
    var(--accent-violet-color) 0%,
    #dcdcdc 100%
  );
  --sw-button-color: linear-gradient(
    180deg,
    var(--accent-violet-color) 0%,
    #dcdcdc 100%
  );

  /*mobile menu*/
  --burger-menu-link: #ffffff;
  /* Categories */
  --categories-name: #111111;
  --categories-list-text: rgba(17, 17, 17, 0.6);
  --categories-current-color: #4f2ee8;
  --categories-scrollbar: #e0e0e0;
  /* See more button */
  --more-btn-text-color: #000000;
  --more-btn-hover-color: #ffffff;
  /* Shopping list */
  --shopping-list-text: rgba(0, 0, 0, 0.6);
  /* Pop up */
  --popup-color: #ffffff;
  --book-name-color: rgba(17, 17, 17, 1);
  --book-author-color: rgba(180, 175, 175, 1);
  --book-rew-color: rgba(17, 17, 17, 1);
  --popup-info-text-color: rgba(17, 17, 17, 0.5);
  /* Pagination */

  --selected-background-color: #111111;
  --disable-icon-color: invert(72%) sepia(27%) saturate(20%) hue-rotate(17deg)
    brightness(90%) contrast(102%);
  --selected-icon-color: #ffffff;
  --btn-outline-color: #111111;
  --number-color: #000000;
  --dots-color: #111111;
  --hover-background-color: #111111;
  --hover-number-color: #ffffff;
  --hover-icon-color: invert(88%) sepia(95%) saturate(0%) hue-rotate(111deg)
    brightness(105%) contrast(106%);

  /* Categories list on sidebar */
  --hover-text-color: #eccf5a;
  --hover-fill-color: var(--accent-violet-color);
}

/*Dark theme*/
[page-theme='dark'] {
  --background-color: #202024;
  --alt-text-color: rgba(180, 175, 175, 1);
  --header-background-color: #111111;
  --header-outline-color: #ffffff;
  --logo-text-color: #f3f3f3;
  --nav-text-color: #ffffff;
  --nav-hover-color: #111111;
  --nav-icon-color: #ffffff;
  --sw-button-color: linear-gradient(
    180deg,
    var(--accent-violet-color) 0%,
    #686868 100%
  );

  /*Mobile menu*/
  --burger-menu-link: #111111;
  /* Categories */
  --categories-name: #ffffff;
  --categories-list-text: rgba(255, 255, 255, 0.6);
  --categories-current-color: #eac645;
  --categories-scrollbar: rgba(17, 17, 17, 0.6);

  /* See more button */
  --more-btn-text-color: #f3f3f3;
  --more-btn-hover-color: #111111;

  /* Shopping list */
  --shopping-list-text: rgba(255, 255, 255, 0.6);

  /* Pop up */
  --popup-color: #202024;
  --book-name-color: rgba(255, 255, 255, 1);
  --book-author-color: rgba(180, 175, 175, 1);
  --book-rew-color: rgba(255, 255, 255, 1);
  --popup-info-text-color: rgba(255, 255, 255, 0.5);

  /* Pagination */
  --selected-background-color: #ffffff;
  --disable-icon-color: invert(90%) sepia(99%) saturate(28%) hue-rotate(250deg)
    brightness(107%) contrast(100%);
  --selected-icon-color: #000000;
  --btn-outline-color: #ffffff;
  --number-color: #ffffff;
  --dots-color: invert(100%);
  --hover-background-color: #ffffff;
  --hover-number-color: #000000;

  /* Categories list on sidebar */
  --hover-text-color: #3519f0;
  --hover-fill-color: var(--accent-yellow-color);
}
