<div class="backdrop_form is-hidden">
  <div class="backdrop__container">
    <form class="form">
      <button class="backdrop__button js-modal-closeBtn" type="button">
        <svg class="backdrop__svg" width="28" heigth="28">
          <use href="./images/sprite.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="form_box">
        <div class="form__container">
          <input
            class="box__field"
            type="text"
            name="name"
            id="name"
            autocomplete="off"
            required
          />
          <label class="form__label" for="name">NAME</label>
        </div>

        <div class="form__container">
          <input
            class="box__field"
            type="email"
            name="email"
            id="mail"
            autocomplete="off"
            required
          />
          <label class="form__label" for="mail">EMAIL</label>
          <svg class="box__icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-mail"></use>
          </svg>
        </div>

        <div class="form__container">
          <input
            class="box__field"
            type="password"
            name="password"
            id="password"
            autocomplete="off"
            required
          />
          <label class="form__label" for="password">PASSWORD</label>
          <svg class="box__icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-lock"></use>
          </svg>
        </div>
      </div>
      <button class="btn_form" type="submit">SING UP</button>
      <div class="form_div_link">
        <a class="sing_up js-signUp" href="#">SING UP</a>
        <a class="sing_in js-signIn" href="#">SING IN</a>
      </div>
    </form>
  </div>
</div>
