<div class="backdrop_form">
  <div class="backdrop__container">
    <button class="backdrop__button" type="button">
      <svg class="backdrop__svg">
        <use href="#"></use>
      </svg>
    </button>
    <form class="form">
      <div class="form__container">
        <label class="form__label" for="name">NAME</label>
        <input
          class="box__field"
          type="text"
          name="name"
          id="name"
          placeholder="please enter the data"
          required
        />
      </div>

      <div class="form__container">
        <label class="form__label" for="mail">EMAIL</label>
        <input
          class="box__field"
          type="email"
          name="email"
          id="mail"
          placeholder="please enter the data"
          required
        />
        <svg class="box__icon" width="28" height="28">
          <use href="./images/sprite.svg#icon-mail"></use>
        </svg>
      </div>
      <div class="form__container">
        <label class="form__label" for="password">PASSWORD</label>
        <input
          class="box__field"
          type="password"
          name="password"
          id="password"
          placeholder="please enter the data"
          required
        />
        <svg class="box__icon" width="28" height="28">
          <use href="./images/sprite.svg#icon-lock"></use>
        </svg>
      </div>
      <button class="btn_form" type="submit">SING UP</button>
      <div>
        <a href="">SING UP</a>
        <a href="">SING IN</a>
      </div>
    </form>
  </div>
</div>
