<header>
    <div class="header">
        <div class="container header-container">
            <!-- logo part -->
            <div class="logo-wrap">
            <a class="logo" href="./index.html">
                <svg class="logo-icon"
                width="24"
                height="24"
                aria-label="logo icon">
                    <use href="/src/images/sprite.svg#icon-logo-color"></use>
                </svg>
                <svg class="logo-text"
                width="77"
                height="14"
                aria-label="logo text">
                    <use href="/src/images/sprite.svg#icon-logo-text"></use>
                </svg>
            </a>
        </div>
        <!-- navigation part -->
        <div class="header-nav">   
        <ul class="nav-list">
            <li class="nav-item">
                <a href="./index.html" class="nav-link">
            Home
                </a>
            </li>
            <li class="nav-item current-page">
                <a href="./shopping-list.html" class="nav-link">
                Shopping list 
                    <svg class="nav__icon" width="20" height="20">
                        <use href="/src/images/sprite.svg#icon-cart"></use>
                    </svg>
                </a>
            </li>
        </ul>
<!-- switcher Dark/Light theme  -->
        </div>
            <input type="checkbox" class="js-theme-switch">
        </div>
<!-- mobile menu -->

    </div>

  

</header>
