<header>
  <div class="header">
    <div class="container header__container">
      <!-- logo part -->
      <div class="logo__wrap">
        <a class="logo" href="./index.html">
          <svg class="logo__icon" width="24" height="24" aria-label="logo icon">
            <use href="/src/images/sprite.svg#icon-logo-color"></use>
          </svg>
          <svg class="logo__text" width="77" height="14" aria-label="logo text">
            <use href="/src/images/sprite.svg#icon-logo-text"></use>
          </svg>
        </a>
      </div>
      <!-- navigation part -->
      <div class="header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./index.html" class="nav__link"> Home </a>
          </li>
          <li class="nav__item current-page">
            <a href="./shopping-list.html" class="nav__link">
              Shopping list
              <svg class="nav__icon" width="20" height="20">
                <use href="/src/images/sprite.svg#icon-cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!-- switcher Dark/Light theme  -->
      <input type="checkbox" class="js-theme-switch" />
      <!-- SignUP btn -->
      <button class="btn__signup" type="button">Sign up</button>
      <!-- mobile menu -->
      <button type="button" class="burger-menu__btn--open" btn-menu-open>
        <svg width="28" height="28" aria-label="open burger menu">
          <use
            class="burger-menu__icon"
            href="/src/images/sprite.svg#icon-align-left"
          ></use>
        </svg>
      </button>
        <button type="button" class="burger-menu__btn--close">
            <svg width="28" height="28" aria-label="close burger menu">
                <use class="burger-menu__icon" href="/src/images/sprite.svg#icon-x-close"></use>
            </svg>
        </button>
    </div>
  </div>
</header>
<div class="burger-menu__container">
    <div class="burger-menu__box">
    <ul class="burger-menu__list">
        <li class="burger-menu__item">
            <a href="./index.html" class="burger-menu__link"> Home </a>
        </li>
        <li class="burger-menu__item">
            <a href="./shopping-list.html" class="burger-menu__link">
                Shopping list
                <svg class="nav__icon" width="20" height="20">
                    <use href="/src/images/sprite.svg#icon-cart"></use>
                </svg>
            </a>
        </li>
    </ul>
    </div>
    <div class="mobile-img"></div>
    
</div>
