<div class="js-popup">
    <!-- <button type="button" class="js-popap-close">
        <svg width="20" height="20"></svg>
        <use href=""></use>
        </svg>
    </button>
    <div>
        <a href="">
            <img src="" alt="">
        </a>
        <h2></h2>
        <h3></h3>
        <p></p>
        <ul>
            <li>
                <a href="">
                    <img src="" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div>
        <button type="button">

        </button>
        <p class=""></p>
    </div> -->
</div>