<section class="basket">
  <div class="product-container">
    <h2 class="shoplist-title">
      Shopping <span class="shoplist-title-decorated">List</span>
    </h2>
    <div class="shoplist-info">
      <p class="info-text"></p>
      <div class="book_img"></div>
    </div>
    <ul class="shoplist">
      <!-- <li>
				<div class="shoplist-card">
					<button type="button" class="btn-delete">
						<img class="btn-delete-icon" src="" alt="Delete book" width="" height="">
					</button>
					<div class="shoplist-card-top">
						<div>
							<img class="book-cover" src="" alt="Book-cover" width="" height="">
							<p class="book-autor"></p>
						</div>
						<div>
							<p class="book-title"></p>
							<p class="book-category"></p>
							<div class="shops-logo">
								<a class="buy-link" href="">
									<img class="shop-logo amazon" src="" alt="Amazon" width="" height="">
								</a>
								<a class="buy-link" href="">
									<img class="shop-logo apple-books" src="" alt="Apple-books" width="" height="">
								</a>
								<a class="buy-link" href="">
									<img class="shop-logo book-shop" src="" alt="Book shop" width="" height="">
								</a>
							</div>
						</div>
					</div>
					<p></p>
				</div>
			</li> -->
    </ul>
    <div id="pagination" class="pagination tui-pagination"></div>
  </div>
</section>
