<section class="basket">
  <h1 class="basket__title">
    Shopping <span class="basket__title--color">List</span>
  </h1>
  <ul class="shopinlist__cards"></ul>
  <div id="pagination" class="pagination disabled tui-pagination"></div>
  <div class="shoplist__info">
    <p class="info__text">
      This page is empy, add some books and proceed to order.
    </p>
    <img
      srcset="
        ./images/shoplist-page/shoplist-bg_mob@1x.png 265w,
        ./images/shoplist-page/shoplist-bg_mob@2x.png 530w,
        ./images/shoplist-page/shoplist-bg_tab@1x.png 322w,
        ./images/shoplist-page/shoplist-bg_tab@2x.png 644w
      "
      sizes="(min-width: 1440px) 322px, 265px"
      srs="./images/shoplist-page/shoplist-bg_mob@1x.png"
      alt="images haven't found"
    />
  </div>
</section>
