<section class="support">
  <div class="support__container">
    <div class="support__header-container">
      <h2 class="support__header-title">Support Ukraine</h2>
      <img
        src="./images/Emblem_of_Ukraine.png"
        alt="Emblem of Ukraine"
        class="support__icon"
      />
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper js-support_list"></div>
    </div>
    <button type="button" class="support__btn swiper-up">
      <svg class="support__btn-icon" aria-label="Scroll down">
        <use href="./images/sprite.svg#icon-slider"></use>
      </svg>
    </button>
  </div>
</section>
