<div class="backdrop_form">
  <div class="backdrop__container">
    <form class="form">
      <button class="backdrop__button js-modal-closeBtn" type="button">
        <svg class="backdrop__svg" width="28" heigth="28">
          <use href="./images/sprite.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="form_box">
        <div class="form__container">
          <label class="form__label" for="name">NAME</label>
          <input
            class="box__field"
            type="text"
            name="name"
            id="name"
            required
          />
        </div>

        <div class="form__container">
          <label class="form__label" for="mail">EMAIL</label>
          <input
            class="box__field"
            type="email"
            name="email"
            id="mail"
            required
          />
          <svg class="box__icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-mail"></use>
          </svg>
        </div>

        <div class="form__container">
          <label class="form__label" for="password">PASSWORD</label>
          <input
            class="box__field"
            type="password"
            name="password"
            id="password"
            required
          />
          <svg class="box__icon" width="28" height="28">
            <use href="./images/sprite.svg#icon-lock"></use>
          </svg>
        </div>
      </div>
      <button class="btn_form" type="submit">SING UP</button>
      <div class="form_div_link">
        <a class="sing_up js-signUp" href="">SING UP</a>
        <a class="sing_in js-signIn" href="">SING IN</a>
      </div>
    </form>
  </div>
</div>

<section class="support">
  <div class="support__container">
    <div class="support__header-container">
      <h2 class="support__header-title">Support Ukraine</h2>
      <svg class="support__icon" width="20" height="32">
        <use href="/src/images/sprite.svg#icon-gerb"></use>
      </svg>
       </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper js-support_list"></div>
    </div>
    <button type="button" class="support__btn swiper-up">
      <svg class="support__btn-icon" aria-label="Scroll down">
        <use href="./images/sprite.svg#icon-slider"></use>
      </svg>
    </button>
  </div>
</section>
