    <!-- <include src="./partials/support.html"></include> -->
    <section class="support">
      <div class="container support__container">
        <div class="support__header-container">
          <h2 class="support__header-title">
            Support Ukraine
    
          </h2>
          <img
            src="./images/Emblem_of_Ukraine.png"
            alt="Emblem of Ukraine"
            class="support__icon"
          />
        </div>

        <ul class="js-support_list support__list"></ul>
        <!-- <button type="button" class="js-support_btn support__btn"> -->
                </button>
      </div>
    </section>