.action-button {
  @include centeredByFlex;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  border: 2px solid var(--accent-violet-color);
  border-radius: 40px;
  color: var(--more-btn-text-color);
  background-color: var(--background-color);
  cursor: pointer;
  @include transition(background-color);

  &:hover,
  &:focus {
    color: var(--more-btn-hover-color);
    @include transition(background-color);
    background-color: var(--categories-current-color);
  }
}