.button {
  @include centered;

  text-transform: uppercase;

  border: 2px solid var(--accent-violet-color);
  border-radius: 40px;

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--white-color);

    background-color: var(--accent-violet-color);
  }
}
