.backdrop_form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  opacity: 1;
  overflow-y: scroll;

  background: radial-gradient(
    circle at -208% -208%,
    rgba(204, 231, 231, 1) 0%,
    rgba(79, 46, 232, 1) 89%
  );
}

.backdrop__container {
  position: absolute;

  max-width: 335px;
  width: 100%;
  max-height: 384px;
  height: 100%;

  transition: transform var(--transition-duration)
    var(--transition-timing-function);

  @include centeredByPosition;

  @include for-tablet-up {
    max-width: 579px;
    width: 100%;
    max-height: 516px;
    height: 100%;
  }
}

.backdrop__button {
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.backdrop__svg {
  height: 28px;
  fill: var(--border-color-form-modal);
  border-radius: 50%;

  transition: outline 250ms var(--transition-timing-function),
    border-radius 250ms var(--transition-timing-function);

  &:hover {
    outline: 1px solid black;
    border-radius: 50%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 80px 40px 40px 40px;

  text-align: center;

  background-color: var(--background-color-form-modal);
  border-radius: 18px;
  border: 2px solid var(--border-color-form-modal);
}

.form__text {
  margin-bottom: 12px;

  font-size: 20px;

  line-height: 1.5;
  letter-spacing: 0.03;
}

.form_box {
  padding-bottom: 40px;
}

.form_div_link {
  display: flex;
  justify-content: center;
  gap: 20px;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.33;
}

.form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  position: absolute;
  display: block;
  margin: 20px 20px 20px 40px;

  font-size: 18px;
  font-weight: bold;

  transition: transform 250ms var(--transition-timing-function);

  background-color: var(--background-color-form-modal);
}

.box__field {
  width: 100%;
  max-height: 64px;

  padding: 20px;
  padding-left: 100px;

  background-color: var(--background-color-form-modal);

  border: 2px solid var(--border-color-form-modal);
  border-radius: 40px;

  transition: transform 250ms var(--transition-timing-function);

  &:focus {
    padding-left: 20px;
  }

  &:focus + .form__label {
    transform: translateY(-149%);
    padding-left: 2px;
    padding-right: 2px;
  }
}

input#password {
  padding-left: 150px;

  &:focus {
    padding-left: 20px;
  }
}

.box__icon {
  position: absolute;
  right: 32px;
}

.btn_form {
  max-width: 499px;
  width: 100%;
  max-height: 64px;
  padding: 20px;
  margin-bottom: 20px;

  font-size: 17px;
  font-weight: 700;
  line-height: 1.33;

  color: var(--btn-color-text);
  background-color: var(--border-color-form-modal);
  border-radius: 40px;

  transition: transform 250ms var(--transition-timing-function);

  &:hover {
    transform: scale(1.01);
  }
}

.sing_up {
  color: var(--sign-up-text-color);
  text-decoration: underline;
  transform: scale(1);
  transition: transform 250ms var(--transition-timing-function);

  &:hover {
    transform: scale(1.05);
  }
}

.sing_in {
  color: var(--sign-in-text-color);

  transform: scale(1);
  transition: transform 250ms var(--transition-timing-function);

  &:hover {
    transform: scale(1.05);
  }
}
