.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content !important;
  margin: 20 0 0 0 !important;
  @include for-tablet-up {
    margin-top: 40px;
  }

  .tui-first,
  .tui-prev,
  .tui-next,
  .tui-last {
    background-color: #eac645;
  }
  .tui-ico-first,
  .tui-ico-prev,
  .tui-ico-next,
  .tui-ico-last {
    filter: contrast(200%) brightness(100%);
  }

  .tui-pagination,
  .tui-page-btn {
    border: none !important;
  }

  .tui-last-child,
  .pagination--magrin {
    border: 1px solid var(--btn-outline-color) !important;
    color: var(--number-color) !important;
  }

  .tui-last-child,
  .pagination--magrin:hover {
    color: #000000 !important;
  }

  .tui-ico-ellip {
    filter: var(--dots-color);
  }

  .tui-next-is-ellip:hover {
    .tui-ico-ellip {
      filter: brightness(100%);
    }
  }

  .pagination--magrin {
    margin-right: 8px;
    @include for-tablet-up {
      margin-right: 10px;
    }
  }
  .tui-first {
    margin-right: 8px;
  }
  .tui-is-disabled {
    background-color: var(--disable-background-color) !important;
    color: var(--disable-icon-color) !important;
  }
  .tui-is-selected {
    background-color: var(--selected-background-color) !important;
    color: var(--selected-icon-color) !important;
  }

  .tui-prev {
    margin-right: 14px !important;
    @include for-tablet-up {
      margin-right: 24px !important;
    }
  }
  .tui-next {
    margin: 0 8px 0 0 !important;
  }
  .tui-last-child {
    margin-right: 14px !important;
    @include for-tablet-up {
      margin-right: 24px !important;
    }
  }
  .tui-page-btn {
    font-family: 'DM Sans' !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    width: 38px !important;
    height: 38px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50% !important;

    @include for-tablet-up {
      width: 44px !important;
      height: 44px !important;
    }
  }
}
