.category-top-books {
  &__title {
    margin-bottom: 18px;

    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--alt-text-color);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    // min-height: 535px;
    // max-height: 550px;
    margin-bottom: 32px;

    overflow: hidden;

    .category__book {
      flex-basis: calc((100% - 0px * 0) / 1);

      @include for-tablet-up {
       flex-basis: calc((100% - 25px * 2) / 3);
      }

      @include for-desktop-up {
        flex-basis: calc((100% - 24px * 4) / 5);
      }
    }

    // @include for-tablet-up {
    //   min-height: 366px;
    //   max-height: 383px;
    // }

    // @include for-desktop-up {
    //   min-height: 308px;
    //   max-height: 325px;
    // }
  }

  &__action-button {
    margin-left: auto;
    width: 124px;
    height: 46px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}
