.category-top-books {
  &__title {
    margin-bottom: 18px;

    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--alt-text-color);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-height: 535px;
    margin-bottom: 32px;

    overflow: hidden;

    @include for-tablet-up {
      max-height: 366px;
    }

    @include for-desktop-up {
      max-height: 308px;
    }
  }

  &__action-button {
    margin-left: auto;
    width: 124px;
    height: 46px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}
