.category {
  font-family: 'DM Sans';
  letter-spacing: -0.04em;
  display: flex;
  flex-direction: column;

  @include for-desktop-up {
    padding-left: 40px;
    box-sizing: border-box;
  }

  &__name {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--categories-name);
    margin-bottom: 40px;
  }

  &__name--violet {
    color: var(--categories-current-color);
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin: 0;
    padding: 0;

    @include for-tablet-up {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 25px;
    }
    @include for-desktop-up {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 24px;
    }
  }

  &__book {
    cursor: pointer;

    @include for-tablet-up {
      width: 218px;
    }

    @include for-desktop-up {
      width: 180px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 8px;
  }

  &__image-box {
    position: relative;
    height: 485px;

    margin-bottom: 14px;
    overflow: hidden;

    @include for-tablet-up {
      height: 316px;
    }

    @include for-desktop-up {
      height: 256px;
    }
  }

  &__image-overlay {
    position: absolute;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;
    @include centeredByFlex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: var(--black-color);
    text-transform: uppercase;

    background-color: var(--accent-yellow-color);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transform: translateY(71px);
    @include transition(transform);

    .category__book:hover & {
      transform: translateY(0);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--categories-name);
    margin: 0 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--alt-text-color);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
