.header {
    margin-bottom: 40px;
    
}
.header__container {
    position: relative;
    z-index: 10;
    padding: 18px 20px;
    margin: 0 auto; 
    height: auto;

    display: flex;
    align-items: center;
 

    background-color: var((--white-color));
        border: 1.5px solid var(--black-color);
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
        @include for-phone-up {
            width: 375px;
            // padding: ;
        }
    
        @include for-tablet-up {
            width: 768px;
        }
    
        @include for-desktop-up {
            width: 1440px;
        }
    }

// logo 
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo__icon {
    fill: #4F2EE8;
}

.logo__text {}

// navigation part 
.header__nav {
    margin-left: 40px;

    @include for-tablet-up {
        margin-left: 76px;
        }
}

.nav__list {
    @include for-phone-only {
            display: none;
        }
    @include for-phone-up {
            display: none;
        }
        @include for-tablet-up {
            display: flex;
            gap: 16px;
            align-items: center;
        }

        @include for-desktop-up {
            gap: 24px;
        }
}

.nav__item {}


.nav__link {
    display: flex;
    align-items: center;
    gap: 4px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 2857;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--black-color);
}

.nav__icon {}

.current-page{
    padding: 8px 16px;
    border-radius: 36;

    background-color: var(--accent-yellow-color);
    font-weight: 700;
}

.js-theme-switch {
    position: relative;

    margin-right: 14px;
    margin-left: auto;

        @include for-tablet-up {
            margin-right: 24px;
        }

    width: 40px;
    height: 20px;

    background-image: linear-gradient(180deg, #4F2EE8 0%, #DCDCDC 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    appearance: none;

    transition-property: background-image;
    transition-duration: 500ms;
    transition-timing-function: var(--transition-timing-function);

    &:checked {
        background-image: linear-gradient(180deg, #4F2EE8 0%, #686868 100%);
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    &::before {
        content: '';

        position: absolute;
        top: 1px;
        left: 1px;

        width: 18px;
        height: 18px;
        border-radius: 20px;
        background-image: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1);

        transition-property: transform;
        transition-duration: var(--transition-duration);
        transition-timing-function: (--transition-timing-function);
    }

        &:checked::before {
            content: '';
    
            position: absolute;
            top: 1px;
            
            transform: translateX(20px);
    
            width: 18px;
            height: 18px;
            border-radius: 20px;
            background-image: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(0, 0, 0, 0.1);
        }
}
// signUp btn 
.btn__signup {
    display: flex;
    margin: 0;
    padding: 15px 14px;
    width: 184px;
    height: 48px;

    background: var(--accent-violet-color);
    border: 1.5px solid var(--black-color);
    border-radius: 18px;

    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    color: var(--white-color);
    



}
// mobile - burger menu 
.burger-menu__container {
    
    @include for-phone-up {
        width: 375px;
    }
    @include for-tablet-up {
        display: none;
    }
        margin-top: 64px;
        
        position: fixed;
        z-index: 1;
        top: 0;
        
        // width: 100%;
        // width: 100vw;
        height: 100vh;
        overflow: auto;
        

        background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
}

.burger-menu__box {
    padding-top: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burger-menu__btn--open {
    border: none;
    background: transparent;
    cursor: pointer;

    @include for-tablet-up {
        display: none;
    }

}
.burger-menu__icon {
    display: block;
    fill: red;
}

.burger-menu__btn--close {
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 100;
    border: none;
    background: transparent;
    cursor: pointer;

    // временно 
    @include for-tablet-up {
            display: none;
        }

}
// .is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     visibility: hidden;
// }

.burger-menu__list {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-menu__item {}

.burger-menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 2857;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    
    color: var(--white-color);
}

.nav__icon {}

.mobile-img {
  
    background-image: url('/src/images/mobile-bg.png');
    background-size: cover;
    height: 50%;
}