.sidebar {
  margin-bottom: 40px;

  @include for-desktop-up {
  }

  &__container {
    @include for-tablet-up {
      display: flex;
      justify-content: space-between;
      gap: 32px;     
    }
    @include for-desktop-up {
      display: block;
    }
  }
}

.categories {
  width: 307px;
  margin-bottom: 40px;
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    // width: 335px;
    height: 228px;
    overflow-y: auto;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);

    @include for-tablet-up {
      height: 475px;
    }
  }
  &__current {
    font-weight: 700;
    text-transform: uppercase;
    color: #4f2ee8;
  }
  &__item {
    cursor: pointer;
  }
}
