.support {
  &__container {
    height: 352px;
    padding: 24px 40px 20px 40px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      var(--accent-violet-color) 18.03%,
      var(--white-color) 100%
    );
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;

    @include for-phone-up {
      width: 335px;
    }

    @include for-tablet-up {
      height: 472px;
      padding-bottom: 14px;
    }

    @include for-desktop-up {
      width: 356px;
      height: 490px;
      padding-bottom: 24px;
    }
  }

  &__header-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  &__header-title {
    color: var(--white-color);
    font-size: 28px;
    letter-spacing: -0.04em;
  }

  &__icon {
    margin-left: 12px;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 32px;
  }

  &__number {
    margin-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: var(--white-color);
  }

  &__img {
    filter: grayscale(100%) brightness(0) invert(100%);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover &__img,
  &__link:focus &__img {
    filter: none;
    transform: scale(1.1);
  }

  &__navigation {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 80px;
    gap: 15px;
  }

  &__btn {
    display: flex;
    padding: 6px;
    border: none;
    border-radius: 50%;
    background-color: var(--white-color);

    @include for-tablet-up {
      padding: 8px;
    }

    &:hover .support__btn-icon {
      fill: var(--accent-yellow-color);
    }
  }

  &__btn--down {
    transform: rotate(180deg);
  }

  &__btn-icon {
    stroke: var(--accent-color);
    width: 20px;
    height: 20px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--accent-violet-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include for-tablet-up {
      width: 22px;
      height: 22px;
    }
  }
}

.swiper {
  width: 100%;
  height: 188px;
  margin-bottom: 16px;

  @include for-tablet-up {
    margin-bottom: 32px;
    height: 292px;
  }

  @include for-desktop-up {
    margin-bottom: 40px;
  }
}

.swiper-slide {
  height: 32px;
}
