.founds {
  width: 335px;
  height: 352px;

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;

  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 40px;

  &__title {
    margin: 0px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #ffffff;
  }
}

// .test {
//     //   width: 82px;
//     //     height: 32px;
//     //     left: 34px;
//     //     top: 0px;
//     // background: url('../images/image 3.png');
//     // background: #FFFFFF;
//     // mix-blend-mode: luminosity;

// }

// .image-box {
//     //  background: url("../images/image 3.png");
//     //     mix-blend-mode: luminosity;
//    width: 82px;
//     height: 32px;
//     left: 34px;
//     top: 0px;

//     background: url('../images/image\ 3.png');
//     mix-blend-mode: luminosity;
//     }

.support {
  &__container {  
    height: 352px;
    padding: 24px 40px 20px 40px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%);
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;

    @include for-phone-up {
      width: 335px;
    }

    @include for-tablet-up {
      min-height: 472px;
      padding-bottom: 14px;
    }

    @include for-desktop-up {
      width: 356px;
      height: 490px;
      padding-bottom: 24px;
    }
  }


  &__header-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  

  &__header-title {
    // display: inline-flex;
    //     margin-bottom: 40px;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: -0.04em;
  }


  &__icon {
    margin-left: 12px;
  }



&__list {
  margin-bottom: 16px;

  @include for-tablet-up {
      margin-bottom: 32px;
  }

  @include for-desktop-up {
      margin-bottom: 40px;
  }
}


&__link {
  display: flex;
  align-items: center;
  height: 32px;
}

&__item:not(:last-child) {
  margin-bottom: 20px;
}

&__number {
  margin-right: 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

&__img {
    filter: grayscale(100%) brightness(0) invert(100%);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:hover &__img,
&__link:focus &__img {
  filter: none;
  transform: scale(1.1);
}
}
